<!DOCTYPE html>
<html>
<head>
    <title>Nuevo Usuario</title>
</head>
<body>

<h1>Crear Usuario</h1>

<a href="/usuarios">Volver</a>

<br><br>

<form method="POST">

    Nombre:<br>
    <input type="text" name="nombre" required>
    <br><br>

    Apellidos:<br>
    <input type="text" name="apellidos" required>
    <br><br>

    Email:<br>
    <input type="email" name="email" required>
    <br><br>

    Teléfono:<br>
    <input type="text" name="telefono">
    <br><br>

    Fecha:<br>
    <input type="date" name="fecha" required>
    <br><br>

    <button type="submit">Guardar</button>

</form>

</body>
</html>
